<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px; ">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->

</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Create Auction</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="auctionForm" (ngSubmit)="addAuction()">
            <h6 class="heading-small text-muted mb-4">Auction information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Currency">Currency</label>
                    <input formControlName="currency" type="text" id="input-Currency" class="form-control form-control-alternative" placeholder="Currency" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Rate">Rate mid</label>
                    <input formControlName="rate_mid" type="number" id="input-Rate" class="form-control form-control-alternative" placeholder="Rate">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Start date</label>
                    <input formControlName="rate_start" type="date" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Lucky">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">End date</label>
                    <input formControlName="rate_end" type="date" id="input-last-name" class="form-control form-control-alternative" placeholder="dd/mm/yyyy" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Auction cutoff</label>
                    <input formControlName="auction_cutoff" type="datetime-local" id="input-last-cc" class="form-control form-control-alternative" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Clearing house</label>
                    <input formControlName="cleared" type="text" id="input-last-b" class="form-control form-control-alternative" placeholder="Clearing house" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Fix</label>
                    <input formControlName="fix" type="text" id="input-last-ctc" class="form-control form-control-alternative" placeholder="Fix" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Bank name</label>
                    <input formControlName="bank_name" type="text" id="input-last-csxc" class="form-control form-control-alternative" placeholder="Bank name" >
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success" type="submit">Add Auction</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
